-w /etc/ssh/sshd_config -p x -k sshd_config
-w /etc/passwd -p wa -k passwd
-w /etc/group -p wa -k group
-w /etc/gshadow -p wa -k gshadow
-w /etc/shadow -p wa -k shadow
-w /var/log/auth.log -p wa -k auth_log
-w /var/log/faillog -p wa -k faillog
-w /etc/hosts.allow -p wa -k hosts_allow
-w /etc/hosts.deny -p wa -k hosts_deny
-w /etc/nginx/nginx.conf -p wa -k nginx_conf
-w /etc/nginx/sites-enabled/ -p wa -k nginx_sites
-w /etc/fail2ban/jail.local -p wa -k fail2ban_jail
-w /etc/prometheus/prometheus.yml -p wa -k prometheus_conf
-w /etc/alertmanager/alertmanager.yml -p wa -k alertmanager_conf
-w /etc/systemd/system/bedaanwaves*.service -p wa -k bedaanwaves_services
-w /var/log/nginx/access.log -p wa -k nginx_access
-w /var/log/nginx/error.log -p wa -k nginx_error
-w /opt/bedaanwaves -p wa -k bedaanwaves_app
